.products {
    margin-top: 40px;
}

.product-item {
    float: left;
    margin-right: 15px;
    box-shadow: 17px 19px 24px rgba(0, 0, 0, 0.13);
    text-align: center;
    padding: 10px;
    background-color: white;
}